<div style="padding-left: 8px">
  <h1>Congratulations!</h1>
  <p>You have successfully made a reservation with the ID #<%= @booking.id%></p>
  <p>You have booked: "<%= @booking.astro.name.upcase%>"</p>
  <p> FROM <strong><%= @booking.entry_date %></strong>  TO <strong><%=  @booking.exit_date %></strong></p>
  <p> <%= link_to "My Bookings", bookings_path, style: "color:white", class: "d-block btn-flat text-decoration-none" %></p>
</div>



















<%# THIS BUTTON IS FOR THE LAST BOOKING CONFIRMATION
<%= link_to "Confirm", confirm_astro_booking_path(@booking), style: "color:white", class: "d-block btn-flat text-decoration-none" %></li>

<%# THIS BUTTON IS FOR THE MY BOOKINGS %>
<%# <%= link_to "My bookings", bookings_path(@booking), style: "color:white", class: "d-block btn-flat text-decoration-none" %></li>
