
<div class="small_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3013&q=80);">
<h1>My bookings</h1>
<h5> Where will you go vacation to next?</h5>
</div>

<div class="container">
  <ul>
    <div class="cards">
        <% @bookings.each do |booking| %>
          <li>
           <%= link_to astro_path(booking.astro), style:"text-decoration:none; color:black" do %>
              <div class="card-trip">
                <img src="https://images.unsplash.com/photo-1639921884918-8d28ab2e39a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2030&q=80" />
                <div class="card-trip-infos">
                  <div>
                    <h2><%= booking.astro.name %></h2>
                    <h5>Entry date: <%= booking.entry_date %></h5>
                    <h5>Exit date: <%= booking.exit_date %></h5>
                  </div>
                  <p class="card-trip-pricing">€<%= booking.astro.daily_price %> Price paid</p>
                    <p><%= booking.astro.category %></p>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
    </div>
  </ul>
</div>
