<div class="index_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1612344026448-92fb6300b4e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80);">
  <div class="container">
    <h1>Check out Astros </strong></h1>
    <p>A collection of your favourite celestial bodies to rent</p>
    <p><%=link_to "Make new astro", new_astro_path, class:"btn-ghost"  %></p>
  </div>
</div>


<div class="container">
  <ul>
    <div class="cards">
        <% @astros.each do |astro| %>
          <li>
           <%= link_to astro_path(astro), style:"text-decoration:none; color:black;" do %>
              <div class="card-trip">
                <div class="position-relative">
                <% image_url = cl_image_path astro.photos.first.key if astro.photos.attached? %>
                  <div class="astro-image" style="background-image: url(<%= astro.photos.attached? ? image_url : 'https://images.unsplash.com/photo-1639921884918-8d28ab2e39a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2030&q=80' %>)"></div>
                  <div class="listing_tag">
                    <% if astro.user == current_user %>
                      <span class="badge bg-secondary"> My Listing</span>
                    <% end %>
                  </div>
                </div>
                  <div class="card-trip-infos">
                    <div>
                      <h2><%= astro.name %></h2>
                      <p><%= astro.category %></p>
                    </div>
                    <h2 class="card-trip-pricing">€<%= astro.daily_price %> per day</h2>
                    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
                  </div>
              </div>
            <% end %>
          </li>
        <% end %>
    </div>
  </ul>
</div>
