<div class="small_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1612344026448-92fb6300b4e3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80);">
  <div class="container">
    <h1>Add a new Astro</strong></h1>
    <p>start making passive income by renting with galactic getaways</p>
  </div>
</div>

<div class="container">
  <%= form_with model: @astro do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.submit %>
  <% end %>
 <p><%= link_to "Go back to the Astro list without saving", astros_path %></p>
</div>
