<div class="slider-container">
  <div class="menu">
    <label for="slide-dot-1"></label>
    <label for="slide-dot-2"></label>
    <label for="slide-dot-3"></label>
  </div>
  <input id="slide-dot-1" type="radio" name="slides" checked>
  <div class="slide slide-1"></div>
  <input id="slide-dot-2" type="radio" name="slides">
  <div class="slide slide-2"></div>
  <input id="slide-dot-3" type="radio" name="slides">
  <div class="slide slide-3"></div>
</div>


<div class="tiny_banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1548697143-6a9dc9d9d80f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80);">
  <div class="container">
    <h1><%= @astro.name %></h1>
    <p><%= @astro.description%></p>
  </div>
</div>

<div class="container">
  <p>Price per night: <%= @astro.daily_price%>€</p>
  <p>Rating<%= @astro.rating %> Stars</p>
  <p>Type of astro: <%= @astro.category %></p>
  <p>Owner <%= @astro.user_id %></p>
</div>

<div>
  <%= render "shared/booking_form", booking:@booking, astro:@astro %>
</div>

<ul>
  <li><%= link_to "Edit Astro", edit_astro_path(@astro), style: "color:white", class: "d-block btn-flat text-decoration-none" %></li>
  <li><%= link_to "Back to list", astros_path, style: "color:white", class: "d-block btn-flat text-decoration-none" %></li>
  <li><%= link_to "Delete Astro", astro_path(@astro), style: "color:white", class: "d-block btn-delete text-decoration-none", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
</ul>
